body {
    width: 219px;
    height: 338px;
    margin: auto auto;
    padding: 10px;
    border: 1px solid black;
}

#fullcal{
    background-color: none;
}

.button {
    width: 50px;
    height: 50px;
    font-size: 24px;
    border: 1px solid black;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace
}

.textview {
    width: 100%;
    height: 50px;
    margin-bottom: 0px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: transparent;
    width: 90%;
    margin-left: 10px;
    border: none;
}

#nulknap {
    width: 100%;
}

.viewbox {
    height: 50px;
    width: 98%;
    background-color: black;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

.changeclrfunc {
    background-color: lightgray;
    margin: 15px auto 0px auto;
    width: 100%;
    }

#toblack {background-color: black;border:none;border-radius: 50%;height:25px;width:25px;margin: 0px 1px 0px 1px;}
#togrey {background-color: gray;border:none;border-radius: 50%;height:25px;width:25px;margin: 0px 1px 0px 1px;}
#towhite {background-color: white;border:none;border-radius: 50%;height:25px;width:25px;margin: 0px 1px 0px 1px;}
#tored {background-color: red;border:none;border-radius: 50%;height:25px;width:25px;margin: 0px 1px 0px 1px;}
#togreen {background-color: green;border:none;border-radius: 50%;height:25px;width:25px;margin: 0px 1px 0px 1px;}
#toyellow {background-color: yellow;border:none;border-radius: 50%;height:25px;width:25px;margin: 0px 1px 0px 1px;}
#toblue {background-color: blue;border:none;border-radius: 50%;height:25px;width:25px;margin: 0px 1px 0px 1px;}

#knapper {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin-bottom: -17px;
    margin-top: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
}

.button:hover{
    background-color: #2b2b2b;
    transition: 0.4s ease-in-out;
}

input:focus {
    outline:none;
}

.caldiv {
    margin-left: -2px;
    margin-right: auto;
}

#options {
}