.grid-1 {
    width: 100%;
    display: grid;
    grid-template-rows:  10% 90% 10%;
    grid-template-columns: 480px 150px 160px 150px 150px;
    border: 10px;
    background-color: #141312;
    align-items: center;
    justify-items: center;
    position: sticky;
    top: 0px;
    grid-gap: 15px;
    margin-bottom: 10px;
}

a:hover {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
}

.grid-item {
    color: #ffffff;
}

#liner {
    color: #141312;
    grid-area: 3 / 1 / 4 / 8;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: white;
    width: 100%;
    height: 40px;
    border: 0px double black;
    margin-bottom: px;
}

#title {
    grid-area: 2 / 1 / 3 / 2;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 52px;
    text-decoration: none;
    transition: all .5s ease-in-out;
    text-shadow: 18px 18px 10px rgb(83, 83, 83);
}

#title:hover { transform: scale(1.2); }

#nav1 {
    grid-area: 2 / 2 / 3 / 3;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px ridge white;
    padding: 5px;
    transition: all .5s ease-in-out;
}

#nav2 {
    grid-area: 2 / 3 / 3 / 4;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px ridge white;
    padding: 5px
}

#nav3 {
    grid-area: 2 / 4 / 3 / 5;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;
    text-decoration: none;
    border: 2px ridge white;
    padding: 5px
}

#nav1:hover{
    background-color: white;
    color: black;
}

#nav2:hover{
    background-color: white;
    color: black;
}

#nav3:hover{
    background-color: white;
    color: black;
}

#foot {
    height: 70px;
    width: 100%;
    color: white;
    position: fixed;
    bottom: 0px;
    left: -5px;
    display: grid;
    padding: 5px 20px 25px 20px;
    grid-template-rows: 30px repeat(3,20px);
    grid-template-columns: 30% 30% 20% 20%;
    background-image: url(https://media.giphy.com/media/7Xxzkbe5TpAHlrK18h/giphy.gif);
    background-size: 100% 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

.gi1 {
    grid-area: 1 / 1 / 2 / 2;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px
}

.gi2 {
    grid-area: 2 / 1 / 3 / 2;
    letter-spacing: 1px
}

.gi3 {
    grid-area: 3 / 1 / 4 / 2;
    letter-spacing: 1px
}

.gi4 {
    grid-area: 4 / 1 / 5 / 2;
    letter-spacing: 1.2px
}

.gi5 {
    grid-area: 1 / 3 / 3 / 4 ;
    justify-self: end;
    letter-spacing: 1px
}

.gi6 {
    grid-area: 1 / 4 / 2 / 5;
    justify-content: start;
    letter-spacing: 1px
}

body {
    background-image: url("http://carrickonsuirancestry.com/gallery/background-for-website.jpg");
    background-attachment: fixed;
    background-position: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.twi1 {
    display: inline-block;
}

.twi2 {
    float: left;
    margin-left: 0.5px;
    display: block;
}

.wwgrid {
    display: grid;
    width: 28%;
    float: right;
    position: relative;
    right: px;
    grid-gap: 20px;



}

.wwl {
    color: #141312;
    font-size: 20px;
    font-weight: bold;
    
}

.ww1 {
    border: 1px solid #141312;
    text-align: center;
    padding: 5px 10px 5px 10px
}

iframe {
    min-width: 70%;
    max-width: none;
}

.ifr {
    border: 1px solid #141312;
}

.ww1:hover {
    background-color: black;
    color: white;
}