#index-body {
    background-color: white;
    background-image: url("Billeder/419.jpg");
    background-size: cover;   
}

#index-body:before {
    content: '';
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,#ffffff,#12426e);
	opacity: .4; 
}

#index-container {
    display: grid;
    width: 100%;
    grid-template-rows: 140px 220px 100px repeat(9, 100px);
    grid-template-columns: repeat(8, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}

#inpix {
    z-index: -1;
    position: relative;
    top: 100px;
}

#b0 {
    height: 5px;
    margin: 0px;
    text-align: center;
}

#b1{
    grid-column: 3 / span 4;
    grid-row: 1 / 3;
    width: auto;
    padding: auto;
    align-self: center;
    justify-self: center;
    font-family: 'Ubuntu', Questrial, Calibri, sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: white;
    transition: 0.3s;
    transition-timing-function: linear;
    text-transform: uppercase;
    text-shadow: 0px 40px 50px black;
    
}

#b001 {
    grid-column: 1 / span 8;
    grid-row: 1 / 1;
    width: auto;
    padding: auto;
    align-self: center;
    justify-self: center;
    font-family: 'Ubuntu', Questrial, Calibri, sans-serif;
    font-weight: bold;
    font-size: 54px;
    color: white;
    transition: 0.3s;
    transition-timing-function: linear;
    text-transform: uppercase;
    text-shadow: 0px 40px 50px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#b1:hover {
    color: #121923;
    font-size: 40px;
    padding-top: 30px;
    text-shadow: 0px 3px 50px white;
}

#b1 h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#b001:hover {
    color: #121923;
    font-size: 40px;
    padding-top: -20px;
    text-shadow: 0px 3px 50px white;
}

#b2, #b3, #b4, #b5, #b6, #b7, .dropdown, .dropdown-content { grid-column: 3 / 7; }
#b2 {  grid-row: 3  /  4; }
#b3 {  grid-row: 4  /  5; }
#b4 {  grid-row: 5  /  6; }
#b5 {  grid-row: 6  /  7; }
#b6 {  grid-row: 7  /  8; }
#b7 {  grid-row: 8  /  9; }

.nav {
    transition: 0.3s;
    transition-timing-function: linear;
    font-family: Questrial, Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: white;
    border: 1px white solid;
    padding: 35px 30px 0px 30px;
    border-radius: 2%;
    font-size: 30px;
    position: relative;
    bottom: 60px;
    box-shadow: 0px 1px 5px 0px white;
}

.nav:hover {
    background-color: #121923;
    border-width: 2px;
}

#indfoot {
    position: fixed;
    right: 0;
    bottom: -10px;
    left: 0;
    padding: 0;
    text-align: center;
}

.somar {
    margin-right: 5px;
}

#codeca {
    height: 16px;
    width: 16px;
    background-color: #322f30;
    padding: 13px 14px 13px 14px;
    position: relative;
    top: 15px;
}

#codeca:hover {
    background-color: #204056;
    border-radius: 40%;
    transition: 0.5s;
    border-style: hidden;
}

@media screen and (max-width: 1200px) { #b2, #b3, #b4, #b5, #b6, #b7, .dropdown, .dropbtn, .dropdwnOpt { font-size: 30px; }
                                        #b001 { font-size: 45px; } }
@media screen and (max-width: 850px) { #b2, #b3, #b4, #b5, #b6, #b7, .dropdown, .dropbtn, .dropdwnOpt  { font-size: 30px; }
                                       #b1 { font-size: 25px; }
                                       #b001 { font-size: 35px; } }
@media screen and (max-width: 500px) { #b2, #b3, #b4, #b5, #b6, #b7, .dropdown, .dropbtn, .dropdwnOpt  { font-size: 25px; }
                                       #b1 { grid-column: 2 / span 6; } }
@media screen and (max-width: 615px) { #b001 { font-size: 25px; } }
@media screen and (max-width: 445px) { #b2, #b3, #b4, #b5, #b6, #b7, .dropdown, .dropbtn, .dropdwnOpt  { font-size: 20px; }
                                       #b001 { font-size: 20px; } }
@media screen and (max-width: 385px) { #b2, #b3, #b4, #b5, #b6, #b7, .dropdown, .dropbtn, .dropdwnOpt { font-size: 16px; }
                                       #boo1, #b1                                                     { font-size: 15px; } }
@media screen and (max-width: 315px) { #b2, #b3, #b4, #b5, #b6, #b7, .dropdown, .dropbtn, .dropdwnOpt { font-size: 13px; } }

/* SOCIAL MEDIA */

@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

body {
    font-family: 'Lato', sans-serif;
    background: #322f30;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

p > a:hover{
    text-decoration:  underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin:  1% 0 1% 0;
}

._12 {
    font-size: 1.2em;
}

._14 {
    font-size: 1.2em;
    font-family: 'Ubuntu', Questrial, Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}

ul {
    padding:0;
    list-style: none;
}

.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}

ul.social-icons {
    margin-top: 0px;
}

.social-icons li {
    vertical-align: top;
    display: inline;
}

.social-icons a {
    text-decoration: none;
}

.fa-facebook:hover {
    background-color: #3d5b99;
    border-radius: 40%;
}

.fa-linkedin:hover {
    background-color: #0073a4;
    border-radius: 40%;
}

.fa-google-plus {
    padding:13px 12px;
}

.fa-google-plus:hover {
    background-color: #e25714;
    border-radius: 40%;
}

/* TRANSITIONS (0.5 seconds) */
.fa-google-plus, .fa-linkedin, .fa-codeca, .fa-facebook,  {
    transition: .5s;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
}

/* SOCIAL ICONS BLACK COLOR */
.fa-google-plus, .fa-linkedin, .fa-codeca, .fa-facebook { background-color: #322f30; }

/* SOCIAL ICONS WHITE COLOR */
.social-icon, .social-icons a, body, a, p > a:hover { color: #fff; }

/* SOCIAL ICONS PADDING 13px 17px */
.fa-linkedin, .fa-codeca, .fa-facebook { padding:13px 17px; }



  /* The container <div> - needed to position the dropdown content */
  .dropbtn {
      width: 100%;
      height: 100%;
      background-color: transparent;
      padding-bottom: 30px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    grid-row: 9 / 10;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    height: 250%;
    width: 90%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: auto;
  }
  
.dropdwnOpt {
    text-align: center;
    font-size: 20px;
}
  .dropdown-content a {
    display: block;
    padding-bottom: 30px;
    margin-top: 15px;
  }
  
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #121923;
    }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
      display: block;
    }
  
    #refer {
        float: right;
        font-size: 14px;
    }






